@media (max-width: 412px) {
    .intro,
    .div-aboutus,
    .kind-of-plants,
    .what-we-offer,
    .div1-excellence,
    .ourgallery,
    .wdts,
    .subscribeMailing,
    .ibtr,
    .footer {
        width: 412px;
        margin: 0 auto;
    }

    /* Intro */
    .header-logo {
        padding: 12px 218px 30px 15px;
    }
    
    .navbar-btns {
        display: none;
    }

    .intro-center {
        padding: 0 24px 82px;
    }

    .ic-title {
        text-align: left;
        padding-bottom: 30px;
    }

    .ic-subtitle {
        padding-bottom: 83px;
    }

    .icb-booknow {
        width: 164px;
        height: 41px;
    }

    .icb-watchvideo {
        width: 164px;
        height: 41px;
    }

    /* About Us */
    .choose-aboutus {
        padding: 34px 24px 13px;

    }
}