body {
    margin: 0;
    width: 100%;
    height: 100%;
}
/* font-family: 'Raleway'; */
/* font-family: 'Lato'; */
/* https://via.placeholder.com/105x64 */


/* INTRO */
.intro {
    /* background */
    background-image: url(../imgs/intro/background.png);
    height: 758px;
    background-size: cover;
    background-repeat: no-repeat;
    /* /background */
}

.header {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.header-logo {
    padding: 37px 0 0 120px;
}

/* btns - buttons */
.navbar-btns {
    display: flex;
    align-items: center;
    padding-right: 100px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nb-items {
    padding-right: 50px;
    text-decoration: none;
    cursor: pointer;
}

.nb-items:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 150px;
    height: 41px;


    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.intro-center {
    padding: 139px;
    text-align: center;

    font-family: 'Lato';
    color: #FFFFFF;
}

.ic-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.ic-subtitile {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

.ic-btns {
    padding: 37px 0 0 0;
}

.icb-booknow {
    width: 168px;
    height: 41px;

    background: #285A43;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.icb-watchvideo {
    width: 187px;
    height: 40px;
    margin-left: 13px;

    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    cursor: pointer;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
}
/* /INTRO */

/* About Us */

.aboutus {
    display: flex;
    justify-content: space-between;
}

/* text */

.text-aboutus{
    font-size: 18px;
    line-height: 27px;
    opacity: 0.8;
    font-family: 'Raleway';

    padding-right: 120px;
    padding-top: 124px;
}

.choose-aboutus {
    color: #285A43;
    width: 480px;

    font-family: 'Lato';
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.04em;
    

    padding-left: 120px;
    padding-top: 124px;
}

/* /text */

.div-aboutus {
    width: 100%;
}
/* /About Us */

/* Kind of Plants */

.kind-of-plants {
    display: flex;
    justify-content: space-around;

    font-family: 'Raleway';
    font-size: 16px;
    line-height: 150%;

    margin-top: 90px;
}

/* kind of plants blocks */

.kind-of-plants-1 {
    width: 350px;
    height: 380px;

    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.kind-of-plants-2 {
    width: 350px;
    height: 380px;

    background-color: #337A5B;

    border-radius: 10px;
}

.kind-of-plants-3 {
    width: 350px;
    height: 380px;

    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.03);
}

/* /kind of plants blocks */

/* headline */

.h3-king-of-plants {
    color: #285A43;

    font-family: 'Lato';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.04em;

    padding-left: 50px;
}

.h3-white-kind-of-plants {
    color: #ffffff;

    font-family: 'Lato';
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.04em;

    padding-left: 50px;
}

/* /headline */

/* text */

.text-kind-of-plants {
    padding-left: 50px;
    opacity: 0.8;
}

.white-text-kind-of-plants {
    color: #FFFFFF;
    opacity: 0.8;

    padding-left: 50px;
}

/* /text */

.image-king-of-plants {
    padding-left: 30px;
    padding-top: 20px;
}

/* /Kind of Plants */

/* Products - What We Offer To You*/
.what-we-offer {
    padding-top: 120px;
    font-family: 'Lato';
}

.wwo-title {
    text-align: center;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #285A43;

    padding-bottom: 35px;
}

.wwo-products-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    padding: 0 120px 120px 120px;
    justify-content: center;
}

.wwop-item {
    display: block;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgb(255, 255, 255);
    width: 280px;

    border-radius: 10px 10px 10px 10px;
    margin-right: 27px;
    margin-bottom: 25px;

    font-family: 'Lato';
}

.wwop-i-img {
    border-radius: 10px 10px 0 0;
    width: 280px;
    height: 250px;
}

/* .wwop-i-favourite {
    position: relative;
    bottom: 235px;
    left: 233px;
} */
/* <img class="wwop-i-favourite" src="imgs/products/Love0.png"> */

.wwop-i-title {
    padding: 10px 0 5px 24px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 140%;
    color: #337A5B;
}

.wwop-i-underTitle {
    display: flex;
}

.wwop-i-oldCost {
    padding: 0 7px 10px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #121212;
    opacity: 0.5;

    text-decoration-line: line-through;
}

.wwop-i-cost {
    padding: 0 0 10px 0;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
}

.wwop-i-buynow {
    position: relative;
    bottom: 13px;
    left: 86px;
    width: 98px;
    height: 33px;

    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid rgba(51, 122, 91, 0.6);
    cursor: pointer;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 140%;

    color: #337A5B;
    
    transition: background 0.3s linear;
}

.wwop-i-buynow:hover {
    color: #FFFFFF;
    background-color: #337A5B;
}

/* /Products - What We Offer To You*/

/* excellence */

.div-excellence {
    display: flex;
}
.block-excellence {
    display: flex;
    flex-wrap: wrap;
}

/* h3, image and p */

.h3-Quality-Product {
    padding-left: 68px;
}
.h3-Always-Fresh {
    padding-left: 57px;
}
.h3-Work-Smart {
    padding-left: 68px;
}
.h3-Excelent-Service {
    padding-left: 57px;
}
.p-Quality-Product {
    padding-left: 68px;
}
.p-Always-Fresh {
    padding-left: 57px;
}
.p-Work-Smart {
    padding-left: 68px;
}
.p-Excelent-Service {
    padding-left: 57px;
}
.image-Quality-Product {
    padding-left: 52px;
}
.image-Always-Fresh {
    padding-left: 34px;
}
.image-Work-Smart {
    padding-left: 52px;
}
.image-Excelent-Service {
    padding-left: 34px;
}

/* /h3, image and p */

/* Blocks */

.Quality-Product {
    width: 360px;
    height: 380px;

    background: #FCFCFC;
}
.Always-Fresh {
    width: 360px;
    height: 380px;

    background: #F8F8F8;
}
.Work-Smart {
    width: 360px;
    height: 380px;

    background: #F8F8F8;
}
.Excelent-Service {
    width: 360px;
    height: 380px;

    background: #FCFCFC;
}

/* /Blocks */

.block-excellence h3 {
    color: #285A43;
    font-family: 'Lato';

    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
}
.block-excellence p {
    color: #121212;
    font-family: 'Raleway';

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.8;
} 
/* /excellence */